{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>HMR Mikrobiologi prøvesøk</h1>
    <form method="POST">
        <p>
            <label for="sample">Sample: </label>
            <input id="sample" name="sample" type="text">
        </p>
        <input type="submit" value="Søk">
    </form>
    {% if data %}
        {% if data|length > 1 %}
            <h2>Kjøringer for prøve {{ sample }}:</h2>
        {% else %}
            <h2>Kjøring for prøve {{ sample }}:</h2>
        {% endif%}
        <table>
            {% for run in data %}
                {% set outer_loop = loop %}
                {% set run_number = run[-1] %}

                {% for i in range(text|length) %}
                    {% if i == 0 %}
                        <tr>
                            <td>{{ text[i] + run[i] + "; Muligens coro/pool " + run_number|string }}</td>
                        </tr>
                    {% else %}
                        {% if run[i] %}
                            {% if run[i] is iterable and run[i] is not string %}
                                {% for j in run[i] %}
                                    <tr>
                                        <td>{{ text[i] + j }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>{{ text[i] + run[i] }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                {% endfor %}
            {% if data|length > 1 %}
                <tr>
                    <td>-------------</td>
                </tr>
            {% endif%}
            {% endfor %}
        </table>
    {% elif sample %}
        <p>Finner ikke {{ sample }}, er den kjørt?</p>
    {% endif %}
{% endblock %}
